.center {

    display: flex;

    flex-direction: column;

    justify-content: center;

    align-items: center;

    height: 100vh;

    font-size: 32px;

}


.logout {

    margin-top: 20px;

    cursor: pointer;

}